<?xml version="1.0" ?>
<robot name="Simon's Custom Turtlebot">
    <webots>
        <device reference="LDS-01" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/SimonWilmots_TurtleBot3/lidar</topicName>
                <alwaysOn>false</alwaysOn>
                <frameName>LDS-01</frameName>
            </ros>
        </device>
        <!--<plugin name="joint_state_publisher">
            <jointName>left_wheel,right_wheel</jointName>
        </plugin>-->
        <ros2_control name="WebotsControl" type="system">
            <!-- <hardware>
                <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
            </hardware>-->
            <joint name="right wheel motor">
                <state_interface name="position"/>
                <command_interface name="velocity"/>
            </joint>
            <joint name="left wheel motor">
                <state_interface name="position"/>
                <command_interface name="velocity"/>
            </joint>
        </ros2_control>
        <plugin type="turtlebot3.turtlebot_driver.TurtleBotDriver" />
    </webots>
</robot>